@media screen and (min-width:978px){
    .banner-1, .banner-3, .banner-4, .banner-5 , .banner-6{
        height: 700px;
    }
    
    .hero-img-1{
        background-image: url("/images/hero/hero-img.jpg");
        background-size: cover;
        height: 100%;
        background-position: center;
    }  

    .banner-2{
        height: 700px;
    }

    .hero-img-2{
        background-image: url("/images/hero/hero-img-2.jpg");
        background-size: cover;
        height: 100%;
        background-position: center;
    }

    .hero-img-3{
        background-image: url("/images/hero/hero-img-3.jpg");
        background-size: cover;
        height: 100%;
        background-position: center;
    }

    .hero-img-4{
        background-image: url("/images/hero/hero-img-4.jpg");
        background-size: cover;
        height: 100%;
        background-position: center;
    }

    .hero-img-5{
        background-image: url("/images/hero/hero-img-5.jpg");
        background-size: cover;
        height: 100%;
        background-position: center;
    }

    .hero-img-6{
        background-image: url("/images/hero/hero-img-6.jpg");
        background-size: cover;
        height: 100%;
        background-position: center;
    }

}

@media screen and (max-width:978px){
    .hero-img-2{
        display: none;
    }
}
